<?xml version='1.0'?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">



  <!-- <xacro:include filename="$(find ur_description)/urdf/myrobot.gazebo" /> -->
  <!-- <xacro:include filename="$(find ur_description)/urdf/materials.xacro" /> -->
  <!-- <xacro:include filename="$(find ur_description)/urdf/macros.xacro" /> -->

  <xacro:macro name="cart_robot">
    <link name='chassis'>
      <pose>0 0 0.075 0 0 0</pose>

      <inertial>
        <mass value="20.0"/>
        <origin xyz="0.0 0 0.075" rpy=" 0 0 0"/>
        <inertia
            ixx="0.5" ixy="0" ixz="0"
            iyy="1.0" iyz="0"
            izz="0.1"
        />
      </inertial>

      <collision name='collision'>
        <geometry>
          <box size=".4 .2 .15"/>
        </geometry>
      </collision>

      <visual name='chassis_visual'>
        <origin xyz="0 0 0" rpy=" 0 0 0"/>
        <geometry>
          <box size=".4 .2 .15"/>
        </geometry>
      </visual>
    </link>

    <gazebo>
      <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
        <robotNamespace>/cart_controller</robotNamespace>
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <odometryRate>20.0</odometryRate>
        <robotBaseFrame>chassis</robotBaseFrame>
      </plugin>
    </gazebo>

    <gazebo reference="chassis">
      <selfCollide>true</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>

  </xacro:macro>

</robot>