<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

<xacro:include filename="$(find ur_description)/urdf/myrobot.transmission.xacro" />
<xacro:include filename="$(find ur_description)/urdf/myrobot.gazebo" />

  <xacro:macro name="myrobot_transmission" params="prefix hw_interface">

    <transmission name="${prefix}right_wheel_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}right_wheel_hinge">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}right_wheel_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}left_wheel_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}left_wheel_hinge">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}left_wheel_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
